*.class

# Emacs backups and autosaves
*~
[#]*[#]
.\#*

# Intellij files
.idea/
*.iml

# Gradle wrappers
gradle/*
.gradle/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

service/[Bb]uild
# Package Files #
*.jar
*.war
*.ear
*.*~
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intellij files
.idea/
*.iml
